<h1 class='title'><%= @video.name %></h1>
<div class="videolist">
<iframe width="560" height="315" src='<%= @video_url %>' frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
<p>By: <%= @video.user.name %></p>
</div>
