<div id="indexpages">
<h1>Welcome to divR</h1>
<p>divR is a new service for divers. You can log all your dives and track them on a map. You can share your videos with other users. And you'll find informations about our affiliate diving center.</p>
</div>
