<h1 class='title'>List of my dives / edition</h1>

<% @scubas.each do |scuba| %>
  <div class="divelist">
    <h1><%= link_to scuba.title, scuba %></h1>
    <span><%= link_to 'edit informations', edit_scuba_path(scuba.id), :class => 'editlink' %></span>
  </div>
<% end %>
